.cart-wrapper {
  /*background: #f7f8f9;*/
  border-top: 1px solid #eee;
  padding: 80px 0;
}

.main-cart-container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 64px 0 rgba(197,197,197,.5)
}

.cart-title h3 {
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

.cart-heading {
  background: #f2f3f4;
  overflow: hidden;
  padding: 15px 20px;
  font-weight: 700;
  margin:10px 0px;
}

.cart-heading-item {
  float: left;
  width: 25%;
}

.cart-heading-item p {
  color: #232323;
  font-size: 13px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.cart-items-container {
  /*border-bottom: 1px solid #ddd;*/
  padding: 12px;
}
.cart-item {
  border-bottom: 1px solid #e8eaec;
  overflow: hidden;
  padding: 12px 0;
}

.cart-sidebar-title {
  color: #232323;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.cart-sidebar-items {
  overflow: hidden;
  padding-top: 15px;
}

.cart-sidebar-items p, .cart-sidebar-items span {
  font-weight: 700;
  color: #232323;
  float: left;
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.cart-sidebar-items p {
  width: 60%;
  font-weight: 400;

}

.cart-grand-total p, .cart-grand-total span {
  font-weight: 700!important;
}

.cart-sidebar-items span {
  text-align: right;
  font-weight: 400;
  width: 40%;
}

.cart-sidebar-body {
  border-bottom: 1px solid #f4f5f5;
}

.cart-grand-total {
  border-bottom: 1px solid #f4f5f5;
  margin-bottom: 0;
  margin-top: 11px;
  overflow: hidden;
  padding: 10px 0 7px;
}

.checkout-button {
  border: 1px solid #183152;
  color: #232323;
  font-size: 13px;
  font-weight: 700;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  background: #f7f8f9;
  cursor: pointer;
}

.checkout-button:hover {
  background: #183152;
  border: 1px solid #183152;
  color: #fff;
}

.cart-checkout-container {
  margin-top: 15px;
}

.remove-from-cart {
 color: red;
 float: right;
 cursor: pointer;
}

.quantity-info {
  padding: 0 15px;
}
